<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Leaderboard</h4>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Wins</th>
        <th>Low</th>
        <th>High</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let statistic of statistics">
        <td>{{ statistic.user.username }}</td>
        <td>{{ statistic.games_won }}</td>
        <td>{{ statistic.low_score }}</td>
        <td>{{ statistic.high_score }}</td>
      </tr>
    </tbody>
  </table>
</div>
