<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Leaderboard</h4>
    </div>
  </div>
  <form>
    <label>Filter players by name:</label>
    <input type="text" [(ngModel)]="term" name="search_form" />
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let category of categories"><span (click)="sort(category, statistics)">{{ category.title }}</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let statistic of statistics | search:term">
        <td>{{ statistic.user.username }}</td>
        <td>{{ statistic.games_won }}</td>
        <td>{{ statistic.low_score }}</td>
        <td>{{ statistic.high_score }}</td>
      </tr>
    </tbody>
  </table>
</div>