<div class="container">
 <div class="row title">
   <div class="col-md-12">
     <h4>{{ title }}</h4>
   </div>
 </div>
 <div class="row breadcrumbs">
  <div class="col-md-12">
    <nav>
      <a class="links" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="links" routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
      <a class="links" routerLink="/high_scores" routerLinkActive="active">High Scores</a>
      <a class="links" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="links" routerLink="/" routerLinkActive="active">Welcome, {{ user.username }}</a>
    </nav>  
  </div> 
 </div>
</div>
<router-outlet></router-outlet>