<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">

    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{ title }}</a>
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Cardly</a> -->

      <div class="collapse navbar-collapse" id="navbarColor02" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">DASHBOARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/leaderboard" routerLinkActive="active">LEADERBOARD</a>
          </li>
        </ul>
        <form class="form-inline">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="!user">
              <form role="form" (submit)="login($event, username.value, password.value)">
                <div class="form-group">
                  <input type="text" #username class="form-control input-sm" id="username" placeholder="Username">
                  <input type="password" #password class="form-control input-sm" id="password" placeholder="Password">
                  <button type="submit" class="btn btn-info">Login</button>
                </div>
              </form>
            </li>
            <li class="nav-item"><a class="nav-link" href="#" *ngIf="user">Welcome, {{ user.username }}</a></li>
            <li class="nav-item"><a class="nav-link" href="#" *ngIf="user" (click)="logout()">Logout</a></li>
          </ul>
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button> -->
        </form>
      </div>

    </div>

</nav>


<router-outlet></router-outlet>
