<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4>Books and Run</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">Add Player</h4>
                </div>
                <div *ngFor="let friend of friendList" class="list-group">
                    <button (click)="addPlayer(friend)" type="button" class="list-group-item list-group-item-action">{{ friend.username }}</button>
                </div>
                <!--<div class="card-block">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>-->
            </div>
        </div>
        
        <div class="col-md-6">

             <div class="card">
                <div class="card-block text-center">
                    <h4 class="card-title">Players</h4>
                </div>
                <div *ngFor="let player of players" class="list-group">
                    <button (click)="removePlayer(player)" type="button" class="list-group-item list-group-item-action">{{ player.username }}</button>
                </div>
                <div class="card-block">
                    <a href="#" class="card-link">GO!</a>
                </div>
            </div>

        </div>
    </div>

</div>