<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Score</h4>
    </div>
  </div>
  <table id="data-table" class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let round of rounds">{{ round.title }}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td >{{ player.username }}</td>
        <td contenteditable="true" [textContent]="player.round1"   (input)="player.round1 = $event.target.textContent"></td>
        <td contenteditable="true" [textContent]="player.round2"   (input)="player.round2 = $event.target.textContent"></td>
        <td contenteditable="true" [textContent]="player.round3"   (input)="player.round3 = $event.target.textContent"></td>
        <td contenteditable="true" [textContent]="player.round4"   (input)="player.round4 = $event.target.textContent"></td>
        <td contenteditable="true" [textContent]="player.round5"   (input)="player.round5 = $event.target.textContent"></td>
        <td contenteditable="true" [textContent]="player.round6"   (input)="player.round6 = $event.target.textContent"></td>
        <td contenteditable="true" [textContent]="player.round7"   (input)="player.round7 = $event.target.textContent"></td>
        <td>{{ player.getTotal() }}</td>
      </tr>
    </tbody>
  </table>
  
  <button (click)="calculateStats()">Calc Stats</button>